{% extends "base.html" %}
{% block title %} Burn Baby Burn {% endblock %}

{% block css %}
<style>
    body{
        background-color: #CF1259;
    }
    {# this makes the collectible image smaller than the fire #}
    .card-img{
        height: 70%;
        width: auto;
        opacity: 0.75; {# makes image slightly transparent #}
    }
    {# this centers the collectible image in the middle in the fire #}
    .card-img-overlay{
        display: flex;
        align-items: center; {# centers vertically #}
        justify-content: center; {# centers horizontally #}
    }
    {# default comes with a 1px width border, gets rid of border to match style of rest of site#}
    .card{
        border-width: 0px;
    }
</style>
{% endblock %}

{% block body %}
<p>The correct answer was {{correct}}</p>
<p>For your idiocy, your collectible burns in fire!</p>

<div class="card">
    <img class="card-img-top" src="https://wpcdn.us-east-1.vip.tn-cloud.net/www.abc6.com/content/uploads/2020/05/flames.jpg">
    <div class="card-img-overlay">
        <img class="card-img" src="{{ picture }}">
    </div>
</div>
<br>
{{description}}
{% if logged %}
<br><br>
  Fire Extinguishers You Have: {{fire}}
  {% if fire > 0 %}
  <br>
  QUICK! Can't bear to see this cute creature burn in front of your eyes? <br>
  Save 'em!
  <form action="/extinguish" method="POST">
      <input type="hidden" name="Collectible" value="{{picture}}">
      <input type="hidden" name="Description" value="{{description}}">
      <input class="btn btn-secondary" type="submit" name="Extinguisher Button" value="Use Extinguisher">
  </form>
  {% endif %}
{% endif %}

<br><br>
<a role="button" href= "/trivia"class="btn btn-secondary">More Trivia</a>

{% endblock %}
