{% extends "base.html" %}
{% block title %} Collectible Gained! {% endblock %}

{% block css %}
<style>
    body{
        background-color: #26A671
    }
    img{
        border-radius: .25rem;
    }
</style>
{% endblock %}

{% block body %}
  Collectible Gained!
  <br><br>
  {% if loggedin == False %}
    <p style="color: red">**To keep this collectible, please <a href="/login"> log in!</a> </p>
  {% endif %}
  <div class="container-fluid" style="height:500px">
    <img src="{{ picture }}" class="img-fluid mh-100">
      <br>
    {{description}}
    <br><br>
    <a role="button" href= "/trivia"class="btn btn-secondary">More Trivia</a>
  </div>
{% endblock %}
