{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block css %}
<style>
    /* insert css specific to individual page */
</style>
{% endblock %}

{% block body %}
  <h1> WELCOME! </h1>
  <br>
  <p1> Have an animal you don’t like? Too much peace in your humble world? Want to destroy some furry creatures? Well, here’s to your wildest fantasies coming true! ThingsOnFire is a collectible website where users can answer trivia questions to collect different items. Answer the question correctly, and you get the cute little furry animal; incorrectly, and you get to see the cursed animal burned alive. Compete against other users in the leaderboard while flexing your random collection of knowledge!</p1>
  <br><br>

  <a role="button" href="/trivia" class="btn btn-secondary">Trivia</a>

{% endblock %}
