{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block css %}
<style>
    /* insert css specific to individual page */
</style>
{% endblock %}

{% block body %}
    <form action="/auth", method="POST">
        <input class="credential-input" type="text" name="username" placeholder="Username"><br>
        <input class="credential-input" type="password" name="password" placeholder="Password"><br>
        <input id="credential-submit" type="submit" value="login">
    </form>

    {{ error }}
    <br>

    Don't have an account, yet? Please, <a href= "register"> register </a>!
{% endblock %}
