{% extends "base.html" %}
{% block title %} Profile {% endblock %}

{% block css %}
<style>
    /* insert css specific to individual page */
</style>
{% endblock %}

{% block body %}

  {% if session %}
    <h1>Collectibles</h1>
    {% for collectible in collection %}
      <img src="{{collectible}}">
    {% endfor %}
    <br>
    <h1>Achievements</h1>
    {% for achieve in achievements %}
      <p>{{achieve}}</p>
    {% endfor %}
    <br>
    <h1>Items</h1>
    {% for item, number in items %}
      <p>{{item}} ({{number}})</p>
      <br>
    {% endfor %}
    <br>
    <h1>Special</h1>
    {% for spec in special %}
    {% endfor %}
  {% else %}
  <p> To start obtaining collectibles for your profile, please login or signup.</p>
  {% endif %}

{% endblock %}
