{% extends "base.html" %}
{% block title %} Profile {% endblock %}

{% block css %}
<style>
    img{
	padding-top:3px;
    }
</style>
{% endblock %}

{% block body %}

  {% if loggedIn %}
    <h1>Collectibles</h1>
    <div class="container">
      <div class="row row-cols-auto">
        {% for collectible in collection %}
        <div class="col">
          <img src="{{collectible}}" class="img-fluid" style="height:150px">
        </div>
        {% endfor %}
      </div>
    </div>
    <br>
    <h1>Achievements</h1>
    {% for achieve in achievements %}
      <p>{{achieve}}</p>
    {% endfor %}
    <br>
    <h1>Items</h1>
    {% for item, number in items %}
      <p>{{item}} ({{number}})</p>
      <br>
    {% endfor %}
    <br>
    <h1>Special</h1>
    {% for spec in special %}
    {% endfor %}
  {% else %}
  <p> To start obtaining collectibles for your profile, please login or signup.</p>
  {% endif %}

{% endblock %}
