{% extends "base.html" %}
{% block title %} Trivia {% endblock %}

{% block css %}
<style>
    /* insert css specific to individual page */
</style>
{% endblock %}

{% block body %}

  {{question|safe}} <!-- displays questions -->
  <br><br>
  {% for i in choices %} <!-- displays choices -->
    <form action="/trivia" method="POST">
      <input value="{{i|safe}}" type="hidden" name="answer">
      <input type="submit" value="{{i}}">
    </form>
  {% endfor %}
<br>

{% if logged %}
Hints You Have: {{hint}}
{% if hint > 0 %}
<form action="/hint" method="POST">
    <input type="hidden" name="Question" value="{{question}}">
    <input type="hidden" name="Choices" value="{{choices}}">
    <input type="submit" name="Hint Button" value="Use Hint">
</form>
{% endif %}
{% endif %}

{% endblock %}
